* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(to bottom, #007bff 42%, #ffffff 20%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    visibility: hidden;
}

body.authorized{
    visibility: visible;
}

.logo-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.logo-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
}

.payment-card {
    background: white;
    border-radius: 20px;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

.merchant-info {
    background: #F5F5F5;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info-row:last-child {
    margin-bottom: 0;
}

.label {
    color: #999;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.value {
    color: #333333d4;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 46px
}

.amount {
    color: #0066ffb8;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;

}

.login-section {
    text-align: center;
}

.login-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #E0E0E0;
    margin-bottom: 40px;
    transition: border-color 0.3s;
}

.input-group:focus-within {
    border-bottom-color: #0066FF;
}

.country-code {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 8px;
    border-right: 1px solid #E0E0E0;
    margin-right: 10px;
}

.mobile-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 8px;
    color: #333;
}

.mobile-input::placeholder {
    color: #CCC;
}

.next-button {
    width: 100%;
    background: #124fb8;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 20px;
}

.next-button:hover {
    background: #124fb8bd;
}

.next-button:active {
    background: #124fb8;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}